body {
    margin: 0;
}
/* #region header */

header {
    display: flex;
    /*flex-direction:raw;*/
    justify-content:space-between;
    box-sizing: border-box;
    margin: 0 60px;
    height: 100px;
}

.icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin: 20px;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(267deg, #FFD256 0%, #8E69F8 98.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    margin: 35px 169px 35px 0;
}

.nav__link{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin: 38px 20px;
    text-decoration: none;
    
}

.register{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin: 35px 15px 35px 127px;
}

.sign__button{
    display: flex;
    max-width:108px ;
    margin: 25px 20px 25px 0px;
    border: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #8E69F8;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-grow: 1;
}

/* #endregion */
.main{
    display: flex;
    justify-content:space-between;
    flex-direction:column;
}

/* #region section1 */
.section1{
    background-image: url(images/airplane1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 210px;
    max-height: 90vh;
    
}

.h2__section1{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 112px 127px 15px 126px;
}

.h3__section1{
    text-align: center;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 273px 374px 270px;
    color: #FFD256;
    -webkit-text-fill-color: none;
}

.buyticket__form{
    display: flex;
    flex-direction:column;
    margin: 0 168px 0 168px;
    box-shadow: 1px 2px 3px #8E69F8;
    background: linear-gradient(0, #FFF 90%, #8E69F8 10%);;
    background-size: cover;
    border-radius: 20px;
}



.choose__button{
    border-radius: 20px 20px 0px 0px;
    background: #8E69F8;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 25px 86px 28px 89px;
    /*background-image: url('images/icons/Icon1.svg');*/
    flex-grow: 1;
    border: none;
}

.choose__button:focus{
    background: #FFF;
}




.button-group{
    display: flex;
    flex-direction:row;
}


.info{
    display: flex;
    flex-direction:row;
    margin: 33px 20px 31px 20px;
}
.item__info{
    display: flex;
    flex-direction:column;
    margin-right: 20px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 1;
}
/*
.to{
    display: flex;
    flex-direction:column;
    margin-right: 20px
}
.date{
    display: flex;
    flex-direction:column;
    margin-right: 20px
}
.pass{
    display: flex;
    flex-direction:column;
    margin-right: 20px
}*/
/*
.info-group{
    display: flex;
    justify-content:left;
    flex-direction:row;
    margin: 33px 285px 12px 20px;
}
.input-group{
    display: flex;
    justify-content:left;
    flex-direction:row;
    margin: 0 20px 31px 20px;
}
*/

.label-info-group{
    margin-bottom: 12px;
    /*flex-grow: 1;*/
}

.item-input-group{
    border-radius: 10px;
    background: #EDEDED;
    border: none;
    flex-grow: 1;
    padding: 0;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #9E9E9E;
    padding: 20px 0px 17px 20px;
}

.fing__button{
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #8E69F8;
    border:none;
    margin: 39px 20px 0 0;
    padding: 0 50px 0 50px;
}

/* #endregion */


/* #region section2*/
.h2__section2{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
}


.popular-directions{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 0 80px 115px 80px;  
    background-color: #FFF;
}

.direction{
    margin: 0px 20px 0px 0px;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    box-shadow: #8E69F8 1px 1px 2px;

}

.name-direction{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 28px 0px 3px 29px;
    margin: 0;
}

.price-direction{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 11px 30px;
    margin: 0;
}

.moreinfo-direction{
    color: rgba(28, 27, 113, 0.50);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 30px 33px;
    margin: 0;
}

/* #endregion */


/* #region section3 */
.section3{
    background-color: #8E69F8;
}

.h2__section3{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.whychooseus{
    display: flex;
    justify-content: space-between;
    margin: 0 60px 113px 80px;
    
}



.whychooseus-item{
    background: #FFF;
    margin-right: 20px;
    border-radius: 20px 20px 20px 20px;
    width: 33%;
    text-align: center;
    /*max-height: 447px;*/
    position: relative;
    

}
.whychooseus-item::after{
    content: url(images/icons/Group19.svg);
    display: block;
    position: absolute;
    top: 90px;
    right: -55px;
    color: white; 
    padding: 10px;
    border-radius: 10px;
    z-index: 10; 
}

.whychooseus-title{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.7px;
    margin: 31px 0 19px 0;
}

.whychooseus-text{
    color: rgba(0, 0, 0, 0.60);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 21px 35px 21px;

}

.whychooseus-svg{
    margin-top: 72px;
}

/* #endregion */

