body {
    margin: 0;
}
/* #region header */

header {
    display: flex;
    /*flex-direction:raw;*/
    justify-content:space-between;
    box-sizing: border-box;
    margin: 0 60px;
    height: 100px;
}

.icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin: 20px;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(267deg, #FFD256 0%, #8E69F8 98.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    margin: 35px 169px 35px 0;
}

.nav__link{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin: 38px 20px;
    text-decoration: none;
    
}

.register{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin: 35px 15px 35px 127px;
}

.inacc__header{
    display: flex;
    margin: 26px 20px 26px 176px;
    gap: 14px;
    align-items: center;

}
.inacc__header > span {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.sign__button{
    display: flex;
    max-width:108px ;
    margin: 25px 20px 25px 0px;
    border: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #8E69F8;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-grow: 1;
}

/* #endregion */
.main{
    display: flex;
    justify-content:space-between;
    flex-direction:column;
}

.main-ok,.main-reservation{
    background: linear-gradient(180deg, #FFF1CC 0%, #8E69F8 74.23%);
}

/* #region section1 */
.section1{
    background-image: url(images/airplane1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 210px;
    max-height: 90vh;
    
}

.h2__section1{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 112px 127px 15px 126px;
}

.h3__section1{
    text-align: center;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 273px 374px 270px;
    color: #FFD256;
    -webkit-text-fill-color: none;
}

.buyticket__form{
    display: flex;
    flex-direction:column;
    margin: 0 168px 0 168px;
    box-shadow: 1px 2px 3px #8E69F8;
    background: linear-gradient(0, #FFF 90%, #8E69F8 10%);;
    background-size: cover;
    border-radius: 20px;
}



.choose__button{
    border-radius: 20px 20px 0px 0px;
    background: #8E69F8;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 25px 86px 28px 89px;
    /*background-image: url('images/icons/Icon1.svg');*/
    flex-grow: 1;
    border: none;
}

.choose__button:focus{
    background: #FFF;
}




.button-group{
    display: flex;
    flex-direction:row;
}


.info{
    display: flex;
    flex-direction:row;
    margin: 33px 20px 31px 20px;
}
.item__info{
    display: flex;
    flex-direction:column;
    margin-right: 20px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 1;
}
/*
.to{
    display: flex;
    flex-direction:column;
    margin-right: 20px
}
.date{
    display: flex;
    flex-direction:column;
    margin-right: 20px
}
.pass{
    display: flex;
    flex-direction:column;
    margin-right: 20px
}*/
/*
.info-group{
    display: flex;
    justify-content:left;
    flex-direction:row;
    margin: 33px 285px 12px 20px;
}
.input-group{
    display: flex;
    justify-content:left;
    flex-direction:row;
    margin: 0 20px 31px 20px;
}
*/

.label-info-group{
    margin-bottom: 12px;
    /*flex-grow: 1;*/
}

.item-input-group{
    border-radius: 10px;
    background: #EDEDED;
    border: none;
    flex-grow: 1;
    padding: 0;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #9E9E9E;
    padding: 20px 0px 17px 20px;
}

.fing__button{
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #8E69F8;
    border:none;
    margin: 39px 20px 0 0;
    padding: 0 50px 0 50px;
}

/* #endregion */


/* #region section2*/

.section2{
    margin-bottom: 115px;
}
.h2__section2{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
}


.popular-directions{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 0 80px 0px 80px;  
    background-color: #FFF;
}

.direction{
    margin: 0px 20px 0px 0px;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    box-shadow: #8E69F8 1px 1px 2px;

}

.name-direction{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 28px 0px 3px 29px;
    margin: 0;
}

.price-direction{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 11px 30px;
    margin: 0;
}

.moreinfo-direction{
    color: rgba(28, 27, 113, 0.50);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 30px 33px;
    margin: 0;
}

/* #endregion */


/* #region section3 */
.section3{
    background-color: #8E69F8;
    
}

.h2__section3{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.whychooseus{
    display: flex;
    justify-content: space-between;
    margin: 0 60px 288px 80px;
}



.whychooseus-item{
    background: #FFF;
    margin-right: 20px;
    border-radius: 20px 20px 20px 20px;
    width: 33%;
    text-align: center;
    /*max-height: 447px;*/
    position: relative;
    

}
.whychooseus-item::after{
    content: url(images/icons/Group19.svg);
    display: block;
    position: absolute;
    top: 90px;
    right: -55px;
    color: white; 
    padding: 10px;
    border-radius: 10px;
    z-index: 10; 
}

.whychooseus-title{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.7px;
    margin: 31px 0 19px 0;
}

.whychooseus-text{
    color: rgba(0, 0, 0, 0.60);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 21px 35px 21px;

}

.whychooseus-svg{
    margin-top: 72px;
}

/* #endregion */

/* #region section4 */
.section4{
    margin: -175px 80px 100px 80px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 3px  #8E69F8;
    display: block;
    z-index:100;  
    background-color: #FFF;
}

.icon__section4{
    margin-top: 80px;
}

.h2__section4{
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(267deg, #FFD256 50%, #8E69F8 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text__section4{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 140px 0 140px;
}

.text__section4 > span{
    color: #8E69F8;
    font-weight: 700;
}


.advantages{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 60px 108px 60px 108px;
    
}

.advantage{
    background-color: #8E69F8;
    border-radius: 20px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 50%;
}

.advantage-svg{
    margin-top: 60px;
}

.advantage-text{
    margin: 30px 31px 60px 31px;
}

.h3__section4{
    color: #1C1B71;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 60px 216px 50px 216px;
}

.btn__section4{
    
    border-radius: 40px;
    padding: 25px 61px;
    align-items: center;
    gap: 20px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    margin-bottom: 80px;
    position: relative;
    border:none;
}
.btn__section4::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    background: linear-gradient(267deg, #FFD256 0%, #8E69F8 98.97%);
    border-radius: 55px;
    z-index: -1;
}

/* #endregion */


/* #region section5 */
.section5{
    margin: 0 135px 60px 135px;
    text-align: center;
}



.title__section5,.subtitle__section5{
    color: #000;
    text-align: center;
    font-family:Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title__section5{
    margin-bottom: 38px;
}
.subtitle__section5{
    margin-bottom: 50px;
}



.title__section5 > span {
    color: #8E69F8;
}

.text__section5{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 50px;
    
}

.svg1__section5{
    position: relative;
}

.svg1__section5::after{
    content: url(images/icons/Vector1.png);
    display: block;
    position: absolute;
    top: 1px;
    left: 300px;
    padding: 10px;
    border-radius: 10px;
    z-index: 10; 
}

.svg2__section5{
    position: relative;
}

.svg2__section5::after{
    content: url(images/icons/Vector2.png);
    display: block;
    position: absolute;
    top: 1px;
    right: 100px;
    padding: 10px;
    border-radius: 10px;
    z-index: 10; 
}



.final__section5{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn__section5{
    padding: 16px 34px;
    border-radius: 100px;
    border: 1px solid #000;
    background: linear-gradient(92deg, #FFD256 0%, #8E69F8 100%);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* #endregion */


/* #region footer */
.footer{
    background-color: #8E69F8;
    /*margin-top: 60px;*/
}

.inside__footer{
    padding:41px 80px 40px 80px;
    /*display: flex;*/
    
}

.svg__footer{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.flex-svgtext__footer{
    display: flex;
    flex-direction: column;
}

.text-undersvg{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0 0 0;
}


.flexmenu__footer{
    display: flex;
    justify-content: space-between;
}

.menu__footer{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.title-menuok__footer{
    color: #FFF;
    text-align: left;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.item-menu__footer{
    color: rgba(255, 255, 255, 0.80);
    text-align: left;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.ok__footer{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.80);
    gap: 18px;
   
}

.item-ok__footer{
    color: rgba(255, 255, 255, 0.80);
    text-align: left;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.svg-link__footer{
    margin-top: 74px;
    text-align: center;
}

.company__footer{
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

/* #endregion */


/* #region formsignin */
.form-signin,.form-create_wallet{
    display: flex;
    flex-direction: column;
    margin: 188px 385px;
    box-shadow: 0px 0px 30px 20px rgba(142, 105, 248, 0.20);
    background: #FFF;
    border-radius: 20px;
    padding: 40px;
    gap: 20px;
    position: relative;
}

.text-signin,.text-create_wallet{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.login-signin, .pass-signin{
    border-radius: 10px;
    border: 1px solid #1C1B71;
    padding: 14px 0 14px 20px;
}

.login-signin{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pass-signin{
    color: rgba(28, 27, 113, 0.50);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.forgotpass-signin{
    position: absolute;
    right: 60px;
    top: 228px;
    color: rgba(28, 27, 113, 0.50);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.btn-signin{
    border-radius: 20px;
    border: 1px solid #1C1B71;
    background: rgba(142, 105, 248, 0.30);
    text-align: center;
    padding: 14px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.or-singin{
    display: flex;
    align-items: center;
    gap: 10px;
}

.or-singin::before,
.or-singin::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #8E69F8;
}

.or-singin > span{
    
    color: rgba(28, 27, 113, 0.70);
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-singup-signin,.btn-create_wallet{
    border-radius: 20px;
    border: 1px solid #1C1B71;
    background: #8E69F8;
    padding: 14px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

/* #endregion */

/* #region okmycryptowallet*/
.btns-ok, .btns-reservation{
    padding: 30px 80px 40px 80px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.info-mywallet-ok,.info-reservation{
    padding: 0 80px 60px 80px;
}
.h3__info-mywallet-ok{
    color: #1C1B71;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 57px;
    margin-top: 0;
}


.btn-arc,.btn-mywallet,.btn-pricealeart,.btn-addfrend,.btn-settings,.btn-search,.btn-info-about-ticket,.btn-pass-info,.btn-places,.btn-review-payment{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 30px;
    border-radius: 10px;
    border: none;
    flex-grow: 1;
    background: #FFF;
}

.btn-mywallet:focus{
    background: #8E69F8;
    color: #FFF;
}



.main-info-mywallet-ok{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actual_travel{
    margin: 0px 68px 0px 0;
    background-color: #FFF;
    border-radius: 20px;
    flex-grow: 1;
    
}

.price-actual_travel,.title-actual_travel{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background: rgba(142, 105, 248, 0.30);
}

.price-actual_travel > p{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 232px 20px 101px;
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
}

.price-actual_travel > span {
    display: flex;
    flex-direction: column;
    padding: 27px 20px 27px 0;
    color: #1C1B71;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
}

.info-actual_travel{
    display: flex;
    justify-content: center;
    margin: 30px 40px 0 40px;
}
.from-info-actual_travel{
    text-align: left;
}

.between-info-actual_travel{
    position: relative;
    margin: 40px 0px 70px 0px;
}
.between-info-actual_travel > p{
    position: absolute;
    margin: 0;
    transform: translate(70%, -140%);
}

.to-info-actual_travel{
    text-align: right;
}

.time-info-actual_travel{
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}
.city-info-actual_travel{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.date-info-actual_travel{
    color: #6A6A6A;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.balance{
    border-radius: 40px;
    background: linear-gradient(109deg, #FFF 0%, #DDD2FD 100%);
    box-shadow: 0px 0px 20px 6px rgba(142, 105, 248, 0.20);
    padding: 47px;
    flex-grow: 1;
}

.top-balance{
    display: flex;
    justify-content: space-between;
}

.nameaddress-top-balance{
    margin-left: 30px;
}

.name-top-balance{
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.address-top-balance{
    display: flex;
    gap: 2px;
    border-radius: 1000px;
    background: rgba(142, 105, 248, 0.40);
    align-items: center;
    
}

.address-top-balance > p{
    margin: 0;
    padding: 2px 5px 2px 16px;
}
.address-top-balance > svg{
    padding: 0px 16px 0px 0px;
}

.svg-top-balance{
    display: flex;
    margin-left: 209px;
    gap: 30px;
    
}

.bottom-balance{
    margin-top: 108px;
}

.h3-bottom-balance{
    color: #1C1B71;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.balance-bottom-balance{
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.topup-balance-bottom-balance{
    display: flex;
}

.topup-bottom-balance{
    display: inline-flex;
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #8E69F8;
    margin: 0px 0px 0px 131px;
    flex-grow: 1;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* #endregion */
/* #region switch-btn */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 30px 40px 30px 0
  }


  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #8E69F8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #8E69F8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* #endregion */

/* #region reservation places*/
.h3__info-reservation{
    color: #1C1B71;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-some-info-reservation{
    color: #6A6A6A;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-reservation{
    border-radius: 10px;
    background: #FFF;
    padding: 20px;
    flex-grow: 1;
}
.title-menu-reservation{
    margin-bottom: 25px;
}
.ticket-direction-menu-reservation{
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.time-menu-reservation{
    color: rgba(28, 27, 113, 0.50);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}
.choosetype-menu-reservation{
    margin-top: 25px;
}

.radio-choosetype-menu-reservation{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.yellow-rec-choosetype-menu-reservation{
    border-radius: 2px;
    background: #FFD256;
    width: 12px;
    height: 12px;
}

.grey-rec-choosetype-menu-reservation{
    border-radius: 2px;
    background: #DDD;
    width: 12px;
    height: 12px;
}

.instock-choosetype-menu-reservation{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0 0 0;
}
.instock-choosetype-menu-reservation > p{
    margin: 0;
    color: rgba(28, 27, 113, 0.50);
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.choosed-menu-reservation{
    border-radius: 10px;
    background: #8E69F8;
    padding: 20px;
}
.choosed-menu-reservation{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 25px 0 25px 0;
}

.choosed-menu-reservation > svg{
    width: 100%;
}

.chooses-ticket-menu-reservation{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}
.choose-ticket-menu-reservation{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.row-choose-ticket-menu-reservation{
    display: flex;
    gap: 15px;
    align-items: center;
    
}
.ticket-row-choose-ticket-menu-reservation{
    border-radius: 10px;
    background: #FFD256;
    padding: 22px 13px;
    border: 0;

}

.number-ticket-menu-reservation{
    display: flex;
    flex-direction: column;
    color: #6A6A6A;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 140px 0px 0px 0px;
    gap: 38px;
}
.number-ticket-menu-reservation > p{
   margin: 0;
}
.letters-ticket-menu-reservation{
    display: flex;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 43px;
    justify-content: space-evenly;
}

.exit-chooses-ticket-menu-reservation{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 40px 0px 40px 0px;
}

.second-number-ticket-menu-reservation{
    display: flex;
    flex-direction: column;
    color: #6A6A6A;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0px 0px 0px;
    gap: 38px;
}
.second-number-ticket-menu-reservation > p{
    margin: 0
}
.flex-info-reservation{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
}

.reservation-detail{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    background: #FFF;
    padding: 20px 10px;
    flex-grow: 1;
}

.reservation-detail > p{
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pass-reservation-detail,.pac-reservation-detail,.places-reservation-detail{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background:#EDEDED;
    padding: 10px;

}
.pass-reservation-detail > p{
    margin: 0;
    
}

.info-pass-reservation-detail{
    text-align: right;
}
.places-reservation-detail{
    text-align: right;
}
.item-title-pass-reservation-detail,.item-info-pass-reservation-detail,.item-places-reservation-detail{
    margin: 0;
    color: #6A6A6A;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    
}
.title-title-pass-reservation-detail,.sum-info-pass-reservation-detail,.title-places-reservation-detail{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    
}

.title-pac-reservation-detail,.price-pac-reservation-detail,.sum-places-reservation-detail{
    margin: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sum-reservation-detail{
    display: flex;
    justify-content: space-between;
}
.title-sum-reservation-detail{
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-reservation-detail{
    border-radius: 15px;
    background: #8E69F8;
    border: 0;
    padding: 13px 38px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* #endregion */


/* #region createwallet */

.forgotpass-create_wallet{
    margin-top: 43px ;
    color: rgba(28, 27, 113, 0.50);
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.text-create_wallet{
    text-align: center;
}
/* #endregion */


/* #region reservation */
.search-reservation{
    display: flex;
    padding: 30px 80px;
    gap: 8px;
    justify-content: space-between;
}
.search-reservation > div{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #FFF;
    padding: 10px 20px;
    justify-content: space-evenly;
    max-width: 207px;
    max-height: 80px;
    flex-grow: 1;

}

.search-reservation > button{

    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    background: #FFF;
    border: 0;
    max-width: 207px;
    max-height: 80px;
    flex-grow: 1;
}

.search-reservation > button:focus{
    background: #8E69F8;
    color: #FFF;
}

.search-reservation > div >p{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.search-reservation > div >input{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-width:0;
}

.search-reservation > div >select{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-width:0;
}

.choose-date{
    display: flex;
    padding: 40px 80px;
    gap: 5px;
    justify-content: space-evenly
}
.data-choose-date{
    display: flex;
    border-radius: 20px;
    background: #FFF;
}
.data-choose-date > div{
    padding: 20px 63px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.data-choose-date > div > p{
    margin: 0;
    padding: 0;
}
.price-data-choose-date{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.choosen-data-choose-date{
    border-radius: 20px;
    background: #8E69F8;
}

.choose-tickets{
    display: flex;
    padding: 30px 80px;
    justify-content: space-evenly;
}


.filters-choose-ticket{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 40px;
}
.baggage-filters-choose-ticket,.transfer-filters-choose-ticket,.departure-filters-choose-ticket,.aviacompany-filters-choose-ticket,.class-filters-choose-ticket{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #FFF;
    padding: 25px 40px;
    gap: 8px;
}
.transfer-filters-choose-ticket> div {
    display: flex;
    
    
}
.baggage-filters-choose-ticket > div{
    display: flex;
}

.baggage-filters-choose-ticket > div > p{
    margin: 0;
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.baggage-filters-choose-ticket > p{
    margin: 0;
    padding-bottom: 7px;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.transfer-filters-choose-ticket > div > p{
    margin: 0;
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.transfer-filters-choose-ticket > p{
    margin: 0;
    padding-bottom: 7px;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.transfer-filters-choose-ticket > span{
    padding: 18px 0;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.numbers-for-rangeList{
    display: flex;
    justify-content: space-between;
}

.numbers-for-rangeList > p{
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.rangeList-transfer-filters-choose-ticket{
    display: flex;
    flex-direction: column;
}

.rangeList-transfer-filters-choose-ticket > input{
    width: 100%;
    -webkit-appearance: none;
}
.rangeList-transfer-filters-choose-ticket > input::-webkit-slider-runnable-track {
    border-radius: 10px;
    height: 4px;
    background-color: rgba(142, 105, 248, 0.40);
}
.rangeList-transfer-filters-choose-ticket > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #8E69F8;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -5px;
    }
    
.departure-filters-choose-ticket > p{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.departure-filters-choose-ticket > span{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aviacompany-filters-choose-ticket{
    display: flex;
    gap: 7px;
}

.checkbox-aviacompany-filters-choose-ticket{
    display: flex;
}
.aviacompany-filters-choose-ticket > p{
    margin: 0;
    padding-bottom: 7px;
}
.aviacompany-filters-choose-ticket > div >p{
    margin: 0;
}

.checkboxes-search-aviacompany-filters-choose-ticket{
    margin: 0 40px 28px 40px;
}
.checkbox-search-aviacompany-filters-choose-ticket{
    display: flex;
    justify-content: space-between;
}
.checkbox-search-aviacompany-filters-choose-ticket>p{
    margin: 0;
    margin-bottom: 7px;
}

.flex-checkbox-search-aviacompany-filters-choose-ticket{
    display: flex;
}
.flex-checkbox-search-aviacompany-filters-choose-ticket>p{
    margin: 0;
    margin-bottom: 7px;
}
.flex-checkbox-search-aviacompany-filters-choose-ticket>input{
    margin: 0;
    margin-bottom: 7px;
    margin-right: 6px;
}
.search-aviacompany-filters-choose-ticket{
    border-radius: 20px;
    background:#EDEDED;
    margin: 0 -40px -25px -40px;
}
.field-search-aviacompany-filters-choose-ticket{
    text-align: center;
    position: relative;
}
.field-search-aviacompany-filters-choose-ticket > form{
    margin-top: 28px;
    margin-bottom: 14px;
}
.field-search-aviacompany-filters-choose-ticket > form > input{
    border-radius: 20px;
    border: 2px solid #8E69F8;
    width: 75%;
    padding: 9px;
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon-field-search-aviacompany-filters-choose-ticket{
    position: absolute;
    top:10px;
    right: 60px;
}

.more-search-aviacompany-filters-choose-ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    text-decoration:none;
    color: rgba(0, 0, 0, 0.70);
    text-align: right;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.aviacompany-filters-choose-ticket > p{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.checkbox-aviacompany-filters-choose-ticket > p{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.checkbox-search-aviacompany-filters-choose-ticket > p{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.flex-checkbox-search-aviacompany-filters-choose-ticket > p{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.class-filters-choose-ticket > p {
    margin: 0;
    padding-bottom: 18px;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checkbox-class-filters-choose-ticket{
    display: flex;
    justify-content: space-between;

}

.checkbox-class-filters-choose-ticket > div {
    display: flex;
    gap: 6px;
}

.checkbox-class-filters-choose-ticket > p {
    margin: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.checkbox-class-filters-choose-ticket > div >p {
    margin: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.checkbox-class-filters-choose-ticket > div > input {
    margin: 0;
}

.ticket-choose-tickets{
    display: flex;
}

.price-ticket-choose-tickets{
    border-radius: 20px;
    background: rgba(142, 105, 248, 0.30);
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 24px 74px;
    margin: 0;
}

.checkbox-ticket-choose-tickets{
    display: flex;
}
.panel-ticket-choose-tickets{
    border-radius: 20px;
    background: #FFF;
}
.baggage-ticket-choose-tickets{
    display: flex;
    justify-content: space-between;
}

.baggage-ticket-choose-tickets > span{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    color: #1C1B71;

    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-panel-ticket-choose-tickets{
    border-radius: 10px;
    background: #8E69F8;
    padding: 16px 25px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 20px;
    border: 0;
}

.ticket-choose-tickets{
    gap:4px;
    margin-bottom: 10px;
}




.company-ticket-choose-tickets{
    padding: 30px 40px;
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cheapest-ticket-choose-tickets{
    padding: 30px 40px;
    color: #42AB4D;
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.title-actual_travel{
    justify-content: space-between;
}


/* #endregion */


/* #region order */
.info-order{
    padding: 0 80px 80px 80px;
}
.title-order{
    display: flex;
    align-items: baseline;
    gap: 10px;
    
}

.h3__order{
    color: #1C1B71;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-bottom: 20px;
}

.some-info-order{
    color: rgba(28, 27, 113, 0.70);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-bottom: 20px;
}

.ticket-order{
    border-radius: 20px;
    background: #FFF;
    padding: 25px;
    flex-grow: 1;
}

.main-order{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.upper-ticket-order{
    display: flex;
    justify-content: space-between;
    gap:400px;
    align-items: center;
    margin-bottom: 20px;
}

.btn-upper-ticket-order{
    display: inline-flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #8E69F8;
    border: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.company-title-ticket-order{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.time-title-ticket-order{
    color: #6A6A6A;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.bottom-ticket-order{
    display: flex;
    gap: 20px;
}

.time-bottom-ticket-order{
    margin: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.date-bottom-ticket-order{
    margin: 0;
    color: #6A6A6A;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.city-bottom-ticket-order{
    margin: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.airport-bottom-ticket-order{
    margin: 0;
    color: #6A6A6A;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

/* #endregion */

/* #region aboutpass*/

.form-reservation-aboutpass{
    border-radius: 10px;
    background: #FFF;
    padding: 40px;
    margin-bottom: 25px;
}

.flex-form-reservation-aboutpass{
    display: flex;
    flex-direction:row;
    gap:15px;
    margin-bottom: 25px;
}
.email-form-reservation-aboutpass,.name-form-reservation-aboutpass,.surname-form-reservation-aboutpass,.number-form-reservation-aboutpass{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.pass-form-reservation-aboutpass{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.enddate-form-reservation-aboutpass{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.nationality-form-reservation-aboutpass{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.sex-form-reservation-aboutpass{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.birthday-form-reservation-aboutpass{
    display: flex;
    flex-direction: column;
    flex-grow: 10;
}

.input-form-reservation-aboutpass{
    border-radius: 15px;
    border: 2px solid #8E69F8;
    padding: 20px;
}

.input-form-reservation-aboutpass{
    color: #6A6A6A;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.label-form-reservation-aboutpass{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn-form-reservation-aboutpass{
    padding: 15px 18px;
    border-radius: 15px;
    background: rgba(255, 210, 86, 0.50);
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
}
.forbtn-form-reservation-aboutpass{
    display: flex;
    justify-content: flex-end;
}
.reservation-aboutpass{
    flex-grow: 1;
}

.pac-servicepac-reservation-aboutpass{
    border-radius: 10px;
    background: #FFF;
    padding: 25px;
    margin-bottom: 15px;
}

.pac-servicepac-reservation-aboutpass > svg{
    
    width: 100%;
}
.top-pac-servicepac-reservation-aboutpass{
    display: flex;
    justify-content: space-between;
}

.title-top-pac-servicepac-reservation-aboutpass{
    margin: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.flex-top-pac-servicepac-reservation-aboutpass{
    display: inline-flex;
    margin-bottom: 5px;
}

.flex-top-pac-servicepac-reservation-aboutpass > label{
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.flex-top-pac-servicepac-reservation-aboutpass > input{
    fill: #FFF;
    stroke-width: 1.5px;
    stroke: #8E69F8;
    width: 21px;
    height: 21px;
}



.info-top-pac-servicepac-reservation-aboutpass{
    margin: 0;
    color: #6A6A6A;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom-pac-servicepac-reservation-aboutpass{
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 5px;

}

.bottom-pac-servicepac-reservation-aboutpass > p{
    margin: 0;
}
/* #endregion */